---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import hero from "../assets/images/home_images/main_hero.jpg";
import Button from "../components/Button.astro";
import FavoriteCard from "../components/FavoriteCard.astro";
import { favorites } from "../data/favorites.js";
import fiveRise from "../assets/images/home_images/five_rise.webp";
import mapPreview from "../assets/images/home_images/mapPreview.png";
---

<BaseLayout title="The Loft | Bingley">
  <!-- HERO -->
  <section class="h-[80vh] relative mt-10">
    <Image src={hero} alt="Latte art image" loading="eager" class="absolute w-full h-full object-cover" />
    <div class="inset-0 h-full absolute bg-gradient-to-b from-coffee-900/80 to-coffee-900/60"></div>

    <div data-animate class="fade-up relative h-full px-6 mx-auto md:max-w-4xl gap-4 flex flex-col justify-center text-center text-cream">
      <h1 class="font-heading text-3xl md:text-5xl">Your cosy coffee spot in the heart of Bingley.</h1>
      <div class="text-xl text-cream/80" data-delay="100">
        Freshly made food, great coffee, and a friendly, family‑run atmosphere — right by the canal.
      </div>

      <div class="flex justify-center gap-6 pt-8" data-animate data-delay="200">
        <Button href="menu" title="View Menu" variant="main" />
        <Button href="visitUs" title="Visit Us" variant="dark" />
      </div>
    </div>
  </section>

  <!-- FAVORITES -->
  <section class="py-24 bg-cream">
    <div class="px-6 max-w-5xl mx-auto">
      <div>
        <p class="text-sage-500 tracking-wide font-semibold uppercase mb-2 fade-up" data-animate>Customer Favourites</p>
        <h2 class="text-3xl md:text-4xl font-heading mb-4 fade-up" data-animate data-delay="100">
          The dishes our regulars keep coming back for
        </h2>
        <h3 class="max-w-2xl text-coffee-700 mb-12 fade-up" data-animate data-delay="200">
          A selection of our most‑loved coffees, cakes, and homemade dishes — crafted fresh every day.
        </h3>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-6">
        {
          favorites.map((item, i) => (
            <div class="flex justify-center fade-up" data-animate data-delay={`${i * 100}`}>
              <a href="/menu">
                <FavoriteCard image={item.image} alt={item.alt} title={item.title} />
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <!-- OUR STORY -->
  <section class="py-20 bg-cream">
    <div class="px-6 max-w-5xl mx-auto grid md:grid-cols-2 gap-12 items-center">
      <div data-animate class="fade-left">
        <p class="text-sage-500 tracking-wide font-semibold uppercase mb-2">Our Story</p>
        <h2 class="text-3xl md:text-4xl font-heading mb-4">A cosy, family‑run café by the canal</h2>
        <h3 class="text-coffee-700 mb-8">
          Since opening our doors in 2010, The Loft Café Bar has been a welcoming spot for locals, walkers, and visitors exploring Bingley.
          We’re a small, family‑run team serving homemade food, great coffee, and friendly service — all from our warm, relaxed space above
          the canal.
        </h3>
        <Button href="/ourStory" title="Read Our Story" variant="light" />
      </div>

      <div data-animate class="fade-right" data-delay="100">
        <Image src={fiveRise} alt="Bingley five rise locks" class="rounded-xl shadow-md" />
      </div>
    </div>
  </section>

  <!-- OPENING HOURS -->
  <section class="bg-stone-300 py-20">
    <div class="max-w-5xl mx-auto px-6 grid md:grid-cols-2 gap-12">
      <div data-animate class="fade-up">
        <h2 class="text-3xl font-serif text-coffee-900 mb-6">Opening Hours</h2>

        <ul class="space-y-2 text-coffee-700">
          <li class="flex justify-between border-b border-stone-600/20 pb-2">Monday – Friday <span>8.30am – 4pm</span></li>
          <li class="flex justify-between border-b border-stone-600/20 pb-2">Saturday <span>9am – 4pm</span></li>
          <li class="flex justify-between border-b border-stone-600/20 pb-2">
            Sunday <span class="text-sm text-coffee-500">(Breakfast Menu Only)</span> 9.30am – 2pm
          </li>
        </ul>
      </div>

      <div data-animate class="fade-up" data-delay="100">
        <h2 class="text-3xl font-serif text-coffee-900 mb-6">Quick Info</h2>

        <div class="space-y-6 text-coffee-700">
          <div>
            <p class="font-semibold text-coffee-900">Address</p>
            <p>The Loft Café Bar<br />127 Main Street <br /> Bingley<br /> BD16 2HT <br /></p>
          </div>

          <div>
            <p class="font-semibold text-coffee-900">Dog Friendly</p>
            <p>Yes — well‑behaved dogs welcome.</p>
          </div>

          <div>
            <p class="font-semibold text-coffee-900">Parking</p>
            <p>Short‑stay parking nearby. Bingley station is a 3‑minute walk.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- VISIT US -->
  <section class="bg-cream py-20">
    <div class="max-w-5xl mx-auto px-6 text-center">
      <div data-animate class="fade-up">
        <p class="text-sage-700 font-semibold tracking-wide uppercase mb-2">Visit Us</p>

        <h2 class="text-3xl md:text-4xl font-heading text-coffee-900 mb-4">Find us right in heart of Bingley town centre</h2>

        <p class="text-coffee-700 max-w-2xl mx-auto mb-12">
          We’re just a short walk from Bingley train station, with parking nearby and plenty of scenic spots along the canal.
        </p>
      </div>

      <div data-animate data-delay="100" class="rounded-lg overflow-hidden shadow-md mb-8 md:w-2/3 mx-auto fade-up">
        <a href="/visitUs">
          <Image src={mapPreview} alt="Map preview of The Loft Cafe location" />
        </a>
      </div>

      <a
        href="https://maps.google.com/?q=The+Loft+Cafe+Bar+Bingley"
        target="_blank"
        class="text-sage-700 font-semibold hover:text-sage-500 transition"
        data-animate
        class="fade-up"
        data-delay="200">
        Get Directions →
      </a>
    </div>
  </section>
</BaseLayout>
